
	

	
@font-face{
  font-family:Whitney;
  font-weight:300;
  src:url("./whitney-300.woff") format("woff")
}
@font-face{
  font-family:Whitney;
  font-weight:400;
  src:url("./whitney-400.woff") format("woff")
}
@font-face{
  font-family:Whitney;
  font-weight:500;
  src:url("./whitney-500.woff") format("woff")
}
@font-face{
  font-family:Whitney;
  font-weight:600;
  src:url("./whitney-600.woff") format("woff")
}
@font-face{
  font-family:Whitney;
  font-weight:700;
  src:url("./whitney-700.woff") format("woff")
}

body {
	font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
	width: 100%;
	height: 100%;
	background: var(--background-primary);
	overflow: hidden;
	color: var(--text-normal);
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0;
}

.serverIcon {
    height: 3rem;
    background: var(--interactive-muted);
    border-radius: 100%;
    padding: 5px;
    box-sizing: border-box;
    flex-shrink: 0;
    flex-grow: 0;
    width: 3rem;
    margin-right: 1rem;
    transition: all 350ms;
}

.server {height: 3rem;display: flex;align-items: center;flex: 0;border-bottom: solid 1px var(--background-accent);padding: 0.6rem;cursor: pointer;padding-left:0;transition: all 250ms;user-select: none;}

span.serverName {font-size: larger;}

.server:before {
    height: 80%;
    vertical-align: middle;
    width: 1px;
    content: "";
    margin-left:0;
    padding-left:0;
    border-left: rgba(0,0,0,0) 5px solid;
    box-sizing:border-box;
    border-radius:20px;
    margin-right:1rem;
    transition: all 150ms;
}
.server:hover:before {
    border-left: var(--text-normal) 5px solid;
}

.server:hover .serverIcon {
    border-radius: 1rem;
}

#everythingElse {
	height: 70vh;
	position: fixed;
	width: 100%;
	display: flex;
}

#server-list {
    width: 30vw;
    height: 100%;
    background: var(--background-secondary-alt);
    z-index: 1;
	overflow-y: auto;
	overflow-x: hidden;
}

* {
	--header-primary: #fff;
	--header-secondary: #b9bbbe;
	--text-normal: #dcddde;
	--text-muted: #72767d;
	--text-link: #00b0f4;
	--channels-default: #8e9297;
	--interactive-normal: #b9bbbe;
	--interactive-hover: #dcddde;
	--interactive-active: #fff;
	--interactive-muted: #4f545c;
	--background-primary: #36393f;
	--background-secondary: #2f3136;
	--background-secondary-alt: #292b2f;
	--background-tertiary: #202225;
	--background-accent: #4f545c;
	--background-floating: #18191c;
	--background-mobile-primary: #36393f;
	--background-mobile-secondary: #2f3136;
	--background-modifier-hover: rgba(79,84,92,0.16);
	--background-modifier-active: rgba(79,84,92,0.24);
	--background-modifier-selected: rgba(79,84,92,0.32);
	--background-modifier-accent: hsla(0,0%,100%,0.06);
	--background-mentioned: rgba(250,166,26,0.05);
	--background-mentioned-hover: rgba(250,166,26,0.08);
	--background-message-hover: rgba(4,4,5,0.07);
	--elevation-stroke: 0 0 0 1px rgba(4,4,5,0.15);
	--elevation-low: 0 1px 0 rgba(4,4,5,0.2),0 1.5px 0 rgba(6,6,7,0.05),0 2px 0 rgba(4,4,5,0.05);
	--elevation-medium: 0 4px 4px rgba(0,0,0,0.16);
	--elevation-high: 0 8px 16px rgba(0,0,0,0.24);
	--logo-primary: #fff;
	--focus-primary: #00b0f4;
	--guild-header-text-shadow: 0 1px 1px rgba(0,0,0,0.4);
	--channeltextarea-background: #40444b;
	--activity-card-background: #202225;
	--textbox-markdown-syntax: #8e9297;
	--deprecated-card-bg: rgba(32,34,37,0.6);
	--deprecated-card-editable-bg: rgba(32,34,37,0.3);
	--deprecated-store-bg: #36393f;
	--deprecated-quickswitcher-input-background: #72767d;
	--deprecated-quickswitcher-input-placeholder: hsla(0,0%,100%,0.3);
	--deprecated-text-input-bg: rgba(0,0,0,0.1);
	--deprecated-text-input-border: rgba(0,0,0,0.3);
	--deprecated-text-input-border-hover: #040405;
	--deprecated-text-input-border-disabled: #202225;
	--deprecated-text-input-prefix: #dcddde;
	scrollbar-color: #202225 transparent;
}

	

.logs-container {
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	height: 30vh;
	width: 100vw;
	background: var(--background-tertiary);
	font-family: monospace;
	box-sizing: border-box;
	padding-top: 1em;
	overflow-y: auto;
	scrollbar-width: thin;
	scrollbar-color: var(--background-tertiary),var(--background-secondary);
}
.server:active {
    transform: translate(0px,2px);
}
span.timestamp {
	margin-right: 20px;
	color: var(--text-muted);
	transition: color 100ms;
	vertical-align: top;
}

.log:hover span.timestamp {
	color: var(--text-normal);
}

.log>.text {display: inline-block;width:90%;}

span.timestamp::after {content: "|";margin-left: 0.3em;color: var(--text-muted);}

div#logs-height {
	width: 100%;
	height: 0.5em;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	background: var(--background-secondary);
	cursor: ns-resize;
}

.server-properties {
    width: 70vw;
    height: 100%;
    flex: 0 0;
    position: absolute;
    right: 0;
}

.navbar {
    width: 70vw;
    display: flex;
    flex-direction: column;
    height: 2rem;
    align-items: center;
}

.nav2 {
    display: flex;
    align-items: center;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

.nav2 > button {
    background: none;
    color: var(--interactive-normal);
    border: none;
    border-bottom: solid 2px grey;
    text-align: left;
    cursor: pointer;
    width: 100%;
    margin: 0 25px 0px 18px;
    transition: all 150ms;
    outline: none !important;
}

.nav2 > button:hover {
    color: var(--interactive-hover);
    border-bottom-color: var(--interactive-hover);
}

button:active {
    transform: translate(0px,2px);
}

.tab {
    width: 70vw;
    height: 100%;
    display: inline-block;
    padding: 0;
    margin: 0;
}

.tab:nth-child(3) {
    background: red;
}

.tab:nth-child(4) {
    background: blue;
}

.tab:nth-child(5) {
    background: green;
}

.tabs {
    height: calc(100% - 2rem);
    width: max-content;
    position: relative;
    transition: all 350ms;
	right: 0;
    margin: 0;
    padding: 0;
}
	